<!-- footer section starts -->
<section class="footer">

  <div class="box-container">

      <div class="box">
          <h3>Sandip's Portfolio</h3>
          <p>Thank you for visiting my personal portfolio website. Connect with me over socials. <br/> <br/> Keep Rising 🚀. </p>
      </div>

      <div class="box">
          <h3>quick links</h3>
          <a href="home"><i class="fas fa-chevron-circle-right"></i> home</a>
          <a href="about"><i class="fas fa-chevron-circle-right"></i> about</a>
          <a href="services"><i class="fas fa-chevron-circle-right"></i> services</a>
          <a href="education"><i class="fas fa-chevron-circle-right"></i> education</a>
          <a href="projects"><i class="fas fa-chevron-circle-right"></i> pojects</a>
          <a href="contact"><i class="fas fa-chevron-circle-right"></i> contact</a>
      </div>

      <div class="box">
          <h3>contact info</h3>
          <p> <i class="fas fa-phone"></i>6475671541</p>
          <p> <i class="fas fa-envelope"></i>sandipkc841@gmail.com</p>
          <p> <i class="fas fa-map-marked-alt"></i>Toronto, Canada</p>
          <div class="share">
            <a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/sandip-kc-111781179/" target="_blank"><i class="fab fa-linkedin"></i></a>
            <a class="github" aria-label="GitHub" href="https://github.com/sandipkc841" target="_blank"><i class="fab fa-github"></i></a>
            <a class="twitter" aria-label="Twitter" href="https://twitter.com/?lang=en" target="_blank"><i class="fab fa-twitter"></i></a>
            <a class="instagram" aria-label="Instagram" href="https://www.instagram.com/sandip_kaysee/" target="_blank"><i class="fab fa-instagram" target="_blank"></i></a>
          </div>
      </div>
  </div>
  <h1 class="credit">&copy All Rights Reserved | Designed with <i class="fa fa-heart pulse"></i> by <a href="#"> sandip K C</a></h1>

</section>
<!-- footer section ends -->