<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Mian Navigation-->
<!-- about section starts -->
<section class="about" id="about">
  <h2 class="heading"><i class="fas fa-user-alt"></i> About <span>Me</span></h2>
  
  <div class="row">

  <div class="image">
      <img draggable="false" class="tilt" src="./assets/images/profile2.jpg" alt="">
  </div>
  <div class="content">
      <h3>I'm Sandip</h3>
      <span class="tag">Full Stack Developer</span>
      
      <p>I am a Full-Stack developer based in Toronto, Canada. 
        I am a Software Engineering Technology student from Centennial College.
        I am very passionate about improving my coding skills & developing applications & websites.
        I build WebApps and Websites using MERN Stack.
        Working for myself to improve my skills.
        Love to build Full-Stack clones. </p>
      
      <div class="box-container">
          <div class="box">
            <p><span> age: </span> 25</p>
            <p><span> phone : </span> 6475671541</p>
          </div>
          <div class="box">
            <p><span> email : </span> sandipkc841@gmail.com</p>
            <p><span> place : </span> Scarborough, ON Canada </p>
          </div>
      </div>
      
      <div class="resumebtn">
          <a href="https://drive.google.com/file/d/1UlX6l9JsrXV-YK_xW5gI9-Rzhmbro9Un/view?usp=sharing" target="_blank" class="btn"><span>Resume</span>
              <i class="fas fa-chevron-right"></i>
          </a>
      </div>

  </div>
  </div>
</section>
<!-- about section ends -->

  <!--Script section -->
  <%-include partials/bottom_nav.ejs%>
 <%-include partials/footer.ejs%>