<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Mian Navigation-->
 
  <!-- <main class="container">
    <h1 class="about">
        My academics.
    
    </h1>
  </main> -->
  <!-- education section starts -->
<section class="education" id="education">

  <h1 class="heading"><i class="fas fa-graduation-cap"></i> My <span>Education</span></h1>

    <p class="qoute">Education is not the learning of facts, but the training of the mind to think.</p>

    <div class="box-container">

    <div class="box">
        <div class="image">
        <img draggable="false" src="../assets/images/college.jpg" alt="College of San MAteo">
        </div>
        <div class="content">
        <h3>Bachelor of Civil Engineering</h3>
        <p>College of San Mateo | California</p>
        <h4>2016-2020 | Graduated</h4>
        </div>
    </div>

    <div class="box">
      <div class="image">
      <img draggable="false" src="../assets/images/school.jpg" alt="KEC">
      </div>
      <div class="content">
      <h3>Diploma in Civil Engineering  | </h3>
      <p>Kumari Engineering College | Kathmandu Nepal</p>
      <h4>2013-2016 | Completed</h4>
      </div>
    </div>
    <div class="box">
      <div class="image">
      <img draggable="false" src="../assets/images/college2.jpg" alt="Centennial College">
      </div>
      <div class="content">
      <h3>Diploma in Software Engineering Technology</h3>
      <p>Centennial College | Scarborough, Ontario</p>
      <h4>2021-2023 | Attending</h4>
      </div>
  </div>

</div>
</section>
<!-- education section ends -->

  <!--Script section -->
  <%-include partials/bottom_nav.ejs%>
 <%-include partials/footer.ejs%>