<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Mian Navigation-->
 
<!-- work project section starts -->
<section class="project" id="project">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Projects <span>Made</span></h2>
  <!-- <div class="container">
    <div class="row" id="projectContainer">

      <div class="bar">
        <div class="info">
          <a href="#"><img src="/public/Assets/images/portfolio.png"/>
          </a><span>AdobeXD</span>
        </div>
      </div> -->

      <div class="projects-container">
        <div class="imgcontainer">
          <a href="#project1">
            <img src="../public/Assets/images/portfolio.png" alt="Project 1">
            <p>Project 1</p>
          </a>
        </div>
        <a href="#project2">
          <img src="project2.jpg" alt="Project 2">
          <p>Project 2</p>
        </a>
        <a href="#project3">
          <img src="project3.jpg" alt="Project 3">
          <p>Project 3</p>
        </a>
        <a href="#project4">
          <img src="project4.jpg" alt="Project 4">
          <p>Project 4</p>
        </a>
        <a href="#project5">
          <img src="project5.jpg" alt="Project 5">
          <p>Project 5</p>
        </a>
        <a href="#project6">
          <img src="project6.jpg" alt="Project 6">
          <p>Project 6</p>
        </a>
      </div>
      

</section>

  <!--Script section -->
  <%-include partials/bottom_nav.ejs%>
 <%-include partials/footer.ejs%>