<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  <!--Mian Navigation-->
 
  <!-- skills section starts -->
<section class="skills" id="skills">

  <h2 class="heading"><i class="fas fa-laptop-code"></i> Skills & <span>Abilities</span></h2>

  <div class="container">
        <div class="row" id="skillsContainer">

          <div class="bar">
            <div class="info">
              <img src="https://img.icons8.com/color/48/000000/adobe-xd.png"/>
              <span>AdobeXD</span>
            </div>
          </div>
          <div class="bar">
            <div class="info">
              <img src="../public/Assets/skills/icons8-react-200.png"/>
              <span>CSS</span>
            </div>
          </div>

    </div>
</div>
</section>
<!-- skills section ends -->

  <!--Script section -->
  <%-include partials/bottom_nav.ejs%>
 <%-include partials/footer.ejs%>